# Chinese Restaurant Analysis

## Yelp Data Set
Yelp provides a dataset that includes over 150,000 businesses in many different areas and almost 7 million reviews for those businesses. This dataset can be used to answer many questions related to the success of businesses with regard to different factors. The Yelp star review as well as the number of reviews written for the business can be positive or negative indicators of success.

In [87]:
import pandas as pd
business = pd.read_csv("yelp_business.csv", encoding= 'unicode_escape')
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [19]:
import pandas as pd
review = pd.read_csv("yelp_reviews.csv", encoding= 'unicode_escape')
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2/5/2014 20:30
1,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",1/4/2015 0:01
2,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,1/14/2017 20:54
3,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,9/23/2015 23:10
4,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,0,2,0,Loved this tour! I grabbed a groupon and the p...,1/3/2015 23:21

In [54]:
merged = business.merge(review, left_on='business_id', right_on='business_id')
merged = merged[merged['categories'].str.contains("Food, Restaurants", na = False)]
asian = merged[merged['categories'].str.contains("Asian")]

In [76]:
print(len(asian))
chinese = merged[merged['categories'].str.contains("Chinese")]

4466

In [77]:
import datetime
asian['year'] = pd.DatetimeIndex(asian['date']).year
asian.head()

chinese['year'] = pd.DatetimeIndex(chinese['date']).year
chinese.head()

C:\Users\erika\AppData\Local\Temp\ipykernel_3960\4180538679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asian['year'] = pd.DatetimeIndex(asian['date']).year
C:\Users\erika\AppData\Local\Temp\ipykernel_3960\4180538679.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chinese['year'] = pd.DatetimeIndex(chinese['date']).year

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,hours,review_id,user_id,stars_y,useful,funny,cool,text,date,year
3892128,#NAME?,Saigon Cuisine,4000 Chestnut St,Philadelphia,PA,19104,39.9556,-75.202664,3.0,80,...,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",quiZPC8t-iZs1uiMA1ovEQ,TTibuRAx2gxu-nVAymFijQ,5,0,0,0,Stopped in for the lunch menu with my girlfrie...,9/25/2014 18:36,2014
3892129,#NAME?,Saigon Cuisine,4000 Chestnut St,Philadelphia,PA,19104,39.9556,-75.202664,3.0,80,...,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",zqmkEnp1kfU2vosDcG2kMg,KqKXOl0PMlZGBMlw8OUpyA,5,2,2,2,Yes! I love this place! Maple Street Patisseri...,5/28/2013 21:37,2013
3892130,#NAME?,Saigon Cuisine,4000 Chestnut St,Philadelphia,PA,19104,39.9556,-75.202664,3.0,80,...,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",H4mSxGeKTv4VFcc9YUmtpQ,oGV84fsuRbLQRRQ6ZZC1dA,4,0,0,0,The espresso here is excellent. My favorite pl...,7/14/2016 19:43,2016
3892131,#NAME?,Saigon Cuisine,4000 Chestnut St,Philadelphia,PA,19104,39.9556,-75.202664,3.0,80,...,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",ymir0baPnU0rYEo_VBZxvA,duJnzlaILBFufu1wjyu-Bg,4,1,0,0,I recently had the pre fixe meal for $22 and I...,8/4/2009 19:09,2009
3892132,#NAME?,Saigon Cuisine,4000 Chestnut St,Philadelphia,PA,19104,39.9556,-75.202664,3.0,80,...,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",RC8D-iY19aZFHXUHaS8xLg,11xwVSDv1ytjcyvUiyBWaw,1,0,1,0,"I got the gyro ""platter"" for lunch, which was ...",9/10/2012 17:07,2012

In [83]:
chinese[["year", "stars_y"]].groupby("year").mean()
#print(grouped)
#grouped.plot(y='stars_y')

       stars_y
year
2005  4.000000
2006  3.833333
2007  4.090909
2008  3.758621
2009  3.542857
2010  3.544118
2011  3.669565
2012  3.876623
2013  3.735931
2014  3.674286
2015  3.836735
2016  4.041284
2017  3.964286
2018  4.212996

This is the code generated for some of our prototype analysis.